<!--Header element-->
<div class="header-banner">
    <div><img src="icons/logo.png" alt="LogoImage." usemap="#home"><map name="home"><area shape="rect" coords="0,0,70,70" href="/"></map></div>
    <div class="headertext"><a href="/home">Chill-Fi</a></div>
    <div style="margin-left:auto;"> </div>
    <div class="headertext" ><a href="/" onclick="logOut()">Logout</a></div>

    <div><img src="icons/user.png" alt="UserImage." usemap="#profile"><map name="profile"><area shape="rect" coords="0,0,70,70" href="/user"></map></div>
</div>

<!--Horizontal divider-->
<div class="horizontal-divider"></div>