<!-- Reusable Head for all pages
    
    Uses 'title' and 'cssFile' dynamic variables initialized in the express
    template, to determine the page's respective title and corresponding css files
-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href=<%= cssFile %>>
    <link rel="icon" type="image/png" href="images/logo.png">