<!-- Reuseable Navbar for all pages -->
<nav>
    <button class="button">
        <a class="button" a href="/homepage">Home</a>
    </button>

    <button class="button">
        <a class="button" a href="/homepage">Playlists</a>
    </button>

    <button class="button">
        <a class="button" a href="/homepage">DJs</a>
    </button>

    <button class="profile">
        <a class="profile" a href="/">
            <img src="images/RonnieVasquez.jpg" width="100" height="200">
        </a>
    </button>

</nav>