<!-- Reusable SearchBar Contents for all pages-->
<div class="logo">
    <a href="/homepage"> <img src="images/logo.png" width="200" height="200" ></a>
</div>

<div class="work-title">
    <label for="searchField" style="font-family: bradley hand, cursive;">Search:</label>
    <input
      type="text"
      id="searchField"
      name="searchField"
    />
</div>

      
<div class="searched">
        <p style="font-family: bradley hand, cursive;">Recently Searched</p>

        <ul style="font-family: bradley hand, cursive;">
            <li>Sea, Sallow me - Cocateua Twins</li>
            <li>Savior Complex - Phoebe Bridgers</li>
            <li>My Love Mine All Mine - mitski</li>
        </ul>            

</div> 