<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" />
        <title>Listner's Page</title>
        <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
        <link rel="stylesheet" href="css/preferences.css">
        
    </head>
    <body style = "background-color: #352F2F; margin: 0; padding: 0; font-family: Assistant; color: white;">
        <header>
            <nav>
                <ul style = "margin-left: 10px;  margin-top: 5px; margin-right: 10px; padding: 0;  display: flex; list-style: none; justify-content: space-between; align-items: center;">
                    <li><a href = "./"><img src = "images/back_button.png" alt = "back-button"></a></li>
                    <li style="color: white; font-size: 40px;">Preferences</li>
                    <li><a href="#" style="color: white; font-size: 30px; text-decoration: none;"><%= username %></a></li>
                </ul>
            </nav>
        </header>

        <aside>
            <h2>Your Library</h2>
        </aside>

        <main>
            <section class="current-playlist" id="current-playlist">
                <article class="playlist-container">

                </article>
            </section>
            
            <section>
                <section style="display: flex; justify-content: center; align-items: center; margin-top: 150px;" class="sect-2">
                    <input type="search" id="searchInput" placeholder="Search Song or DJ" onkeyup="search_bar()">
                </section>
                <section class="search-results">
                    <ul class="results">
    
                    </ul>
                </section>
            </section>

            
            <script src="js/preferences_script.js"></script>
        </main>
    </body>


</html>