<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" />
        <title>Listner's Page</title>
        <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
        <style>

            header { 
                background-color: #2C1919;
                overflow: hidden;
                height: 60px;
            }

            
            nav img {
                height: 40px;
                width: 40px;
                border-radius: 20px;
            }

            .sect-1 {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 30px;
            }
            
            .sect-1 h1 {
                font-size: 50px;
                margin-bottom: 0;
                margin-top: 10px;
            }

            .sect-1 select {
                padding-left: 20px;
                padding-right: 20px;
            }

            .btn-1 {
                width: 350px;
                height: 75px;
                font-size: 48px;
                font-weight: 800;
                color: white;
                background-color: #2C1919;
                border-radius: 20px;
                border: none;
                cursor: pointer;
            }

            .btn-2 {
                width: 350px;
                height: 75px;
                font-size: 48px;
                font-weight: 800;
                color: white;
                background-color: #2C1919;
                border-radius: 20px;
                border: none;
                cursor: pointer;
            }

            .sect-1 button:hover {
                background-color: #603737;
                border: solid 1pt black;
            }

            .sect-2 input{
                width: 80%;
                height: 6vh;
                border-radius: 15px;
                border: none;
            }

            .sect-2 input:focus {
                outline: none;
                border: 3pt solid #2C1919;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .sect-3 dialog {
                margin-top: 50px;
                border-radius: 15px;
                background-color: #603737;
                color: white;
            }

            .sect-3 form {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .sect-3 button {
                border-radius: 20px;
                width: 80px;
                height: 40px;
                border: none;
                cursor: pointer;
                background-color: #685050;
                color: white;
            }

            .sect-3 button:hover {
                border: solid 1pt black;
            }

            .search-results {
                display: flex;
                justify-content: center;
            }
            .results {
                list-style: none;
                padding: 0;
                margin: 2px;
                border-radius: 15px;
                
                color: black;
                width: 80%;
            }

            .results li {
                padding-left: 10px;
                background-color: white;
                border: solid 1pt black;
                border-radius: 15px;
                height: 30px;
            }

            .modal-songs, .modal-djs {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 450px;
                min-height: 250px;
                position: absolute;
                z-index: 2;
                top: 20%;
                background-color: #2C1919;
                border: 3px solid black;
                border-radius: 15px;
                color: white;
            }
            
            .close-button {
                display: flex;
                justify-content: flex-end;
                padding: 5px;
            }

            .btn-close {
                border: none;
                border-radius: 30%;
            }
            
            .overlay-1, .overlay-2 {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(3px);
                z-index: 1;
            }

            .hidden {
                display: none;
            }

            .results li {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .results li button {
                border-radius: 15px;
                margin-right: 8px;
                border: 2px solid black;
            }

            .results li button:hover {
                background-color: green;
            }

            .liked-songs li, .liked-djs li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .liked-songs li button, .liked-djs li button {
                border-radius: 15px;
                margin-right: 8px;
                border: 2px solid black;
            }

            .liked-songs li button:hover, .liked-djs li button:hover{
                background-color: red;
            }

        </style>
        
    </head>
    <body style = "background-color: #352F2F; margin: 0; padding: 0; font-family: Assistant; color: white;">
        <header>
            <nav>
                <ul style = "margin-left: 10px;  margin-top: 5px; margin-right: 10px; padding: 0;  display: flex; list-style: none; justify-content: space-between; align-items: center;">
                    <li><a href = "./"><img src = "images/back_button.png" alt = "back-button"></a></li>
                    <li style="color: white; font-size: 40px;">Preferences</li>
                    <li><a href="#" style="color: white; font-size: 30px; text-decoration: none;"><%= username %></a></li>
                </ul>
            </nav>
        </header>

        <main>
            

            <section class="sect-1">
                <article class="modal-songs hidden">
                    <div class="close-button">
                        <button class="btn-close">⨉</button>
                    </div>
                    <ul class="liked-songs">
                        
                    </ul>
                </article>
                <div class="overlay-1 hidden"></div>
                <article class="btn-1">
                    <button class = "btn-1" type="submit">Liked Songs</button>
                </article>

                <article class="mood">
                    <h1>Mood</h1>
                    <select name="Mood">
                        <option selected>Mixed</option>
                        <option>Happy</option>
                        <option>Upbeat</option>
                        <option>Productive</option>
                        <option>Moody</option>
                    </select>
                </article>  
                
                <article class="modal-djs hidden">
                    <div class="close-button">
                        <button class="btn-close">⨉</button>
                    </div>
                    <ul class="liked-djs">
                        
                    </ul>
                </article>
                <div class="overlay-2 hidden"></div>
                <article class="btn-2">
                    <button class = "btn-2" type="submit">Liked DJs</button>
                </article>
            </section>

            <section style="display: flex; justify-content: center; align-items: center; margin-top: 150px;" class="sect-2">
                <input type="search" id="searchInput" placeholder="Search Song or DJ" onkeyup="search_bar()">
            </section>
            <section class="search-results">
                <ul class="results">

                </ul>
            </section>
            <script src="js/preferences_script.js"></script>
            <section class="sect-3">
                <dialog open>
                    <p>Thank you for choosing Lofi-Station!</p>
                    <form method="dialog">
                        <button>Thanks!</button>
                      </form>
                </dialog>
            </section>
        </main>
    </body>


</html>